.hero-section {
  min-height: 80vh;
  background: url('../../../assets/images/slider/1.png') center/cover no-repeat;
  position: relative;
  padding-top: 35px;
}

.hero-content {
  max-width: 600px;
  margin-left: 80px; 
  color: #6c757d;
}
h1{
    font-weight: 600;
    margin: 0px 0px 11px;
}

.search-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 180px; 
  width: 100%;
  display: flex;
  justify-content: center;
}

app-booking-search {
  width: 75%;   
  max-width: 1100px;
}

.scroll-down {
  position: absolute;
  bottom: 20px;      
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  animation: bounce 1.5s infinite;
  z-index: 2;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(6px);
  }
  60% {
    transform: translateX(-50%) translateY(3px);
  }
}


/* ///////////////////////////////////// */

.content-gray{
    background-color :rgb(226, 230, 234);
    margin-top: -50px;
    margin-bottom: -50px;

}

.content-gray-container{
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.shamel-banner {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  padding: 22px 28px;
  background: linear-gradient(90deg, #0070cd 0%, #1089ec 100%);
}

.shamel-banner::after {
  content: '';
  position: absolute;
  top: 0;
  right: -80px;
  width: 320px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewX(40deg);
}

.shamel-banner::before {
  content: '';
  position: absolute;
  left: -100px;
  top: 0;
  width: 320px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewX(40deg);
}


.banner-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  color: #fff;
}

.text img {
  margin-bottom: 5px;
  width: 150px;
 
}

.text p {
  margin: 4px 0 0;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.9;
}

.details-btn {
  background: #fff;
  color: #0b6edc;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.featured-doctor{
  margin: 25px 0px 25px;
}