.hero-section {
  height: 95vh;
  background: url('../../../assets/images/slider/1.png') center/cover no-repeat;
  position: relative;
  padding: 35px 0px 35px 0px;
}

.hero-content {
  color: #6c757d;
}
h1{
    line-height: 1.1;
    font-size: 3.15em;
    font-weight: 600;
    margin: 0px 0px 11px;
    color: rgb(111, 112, 114);
}
h2{
  font-size: 2.1em;
    font-weight: normal;
    margin: 0px;
    color: rgb(111, 112, 114);
}
h2 span{
  font-size: 0.9em;
    font-weight: 700;
    color: rgb(111, 112, 114);

}

.app-booking-header{
  margin-top: 180px;
}
.scroll-down {
  position: absolute;
  bottom: 50px;      
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  animation: bounce 1.5s infinite;
  z-index: 2;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(6px);
  }
  60% {
    transform: translateX(-50%) translateY(3px);
  }
}


/* ///////////////////////////////////// */

.content-gray{
    background-color :rgb(226, 230, 234);
    padding: 10px;
}

.content-gray-container{
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.shamel-banner {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  padding: 22px 28px;
  background-color: var(--mainColor);
}


.banner-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  color: #fff;
}

.text img {
  margin-bottom: 5px;
  width: 150px;
 
}

.text p {
  margin: 4px 0 0;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.9;
}

.details-btn {
  background: #fff;
  color: var(--mainColor);
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.featured-doctor{
  margin: 25px 0px 25px;
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .content-header {
       font-size: 8px;
    }
    .hero-section{
      height: 75vh;
    }
    .app-booking-header{
      margin-top: 70px;
    }
}

@media only screen and  (max-width: 767px) {
  h1{
    font-size: 18px;
  }
   h2 {
    display: none;
   }
   .hero-section{
    background: white;
    height: fit-content;
   }
   .app-booking-header{
      margin-top: 10px;
    }
    .scroll-down{
      display: none;
    }
}