.doctor-section {
  height: 95vh;
  background: url("../../../assets/images/slider/1.png") center/cover no-repeat;
  position: relative;
  padding: 35px 15px;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.doctor-content {
  color: #6c757d;
}

h1 {
  line-height: 1.1;
  font-size: 3.15em;
  font-weight: 600;
  margin: 0px 0px 11px;
  color: rgb(111, 112, 114);
}

h2 {
  font-size: 2.1em;
  font-weight: normal;
  margin: 0px;
  color: rgb(111, 112, 114);
}

h2 span {
  font-size: 0.9em;
  font-weight: 700;
  color: rgb(111, 112, 114);
}

.app-booking-header {
  margin-top: 180px;
}

.scroll-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  animation: bounce 1.5s infinite;
  z-index: 2;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(6px);
  }
  60% {
    transform: translateX(-50%) translateY(3px);
  }
}

.app-booking-header-responsive {
  display: none;
}

.app-booking-header-responsive .calling {
  margin: 8px 0 0 0;
  width: 100%;
  font-size: 16px;
  color: rgb(111, 112, 114);
  background: white;
  border-bottom: 1px solid transparent;
  text-align: center;
}

.app-booking-header-responsive .calling span {
  color: var(--mainColor);
  font-weight: 600;
  border-bottom: 1px solid black;
}

.content-gray {
  background-color: rgb(226, 230, 234);
  padding: 10px;
}

.content-gray-container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.shamel-banner {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  padding: 16px;
  background-color: var(--mainColor);
  background-image: url('../../../assets/shamel-background.png');
  background-size: 100% 100%;
}

.banner-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  color: #fff;
}

.text img {
  margin-bottom: 5px;
  width: 140px;
}

.text p {
  margin: 4px 0 0;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.9;
}

.details-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(0, 112, 205);
  width: 315px;
  height: 52px;
  font-weight: 400;
  margin: 0px 29px;
}

.featured-doctor {
  margin: 25px 0px 25px 0px;
}
.btn-arrow{
  display: none;
  font-size: 18px;
  margin-right: 10px;
  color: white;
}

.book-now-image{
  width:100%;
}
@media screen and (max-width: 1062px) {
  .content-gray-container {
    width: 100%;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
  }
  .btn-arrow{
    display: block;
  }
  .details-btn{
    display: none;
  }
}

@media only screen and (min-width: 771px) and (max-width: 1023px) {
  .content-header {
    font-size: 8px;
  }
  .doctor-section {
    height: 75vh;
  }
  .app-booking-header {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 770px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    display: none;
  }
  .doctor-section {
    background: white;
    height: fit-content;
    padding-bottom: 5px;
  }
  .app-booking-header {
    display: none;
  }
  .app-booking-header-responsive {
    display: inline;
  }
  .scroll-down {
    display: none;
  }
}
