<section class="doctor-section custom-Container">
  <div class="custom-Container">
    <!-- padding-top: 55px; -->
    <div class="row">
      <div class="container text-start content-header">
        <h1>Better Healthcare for a Better Life</h1>
        <h2>
          Book online or call
          <i class="bi bi-telephone-fill text-danger"></i>
          <span>16676</span>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="app-booking-header">
        <app-booking-header></app-booking-header>
      </div>
    </div>
    <div class="row">
      <div class="app-booking-header-responsive">
        <app-header-doctors-responsive></app-header-doctors-responsive>
        <div class="calling">
          <p>Or Call <span>16676</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="scroll-down" (click)="scrollToContent()">
    <i class="bi bi-chevron-down"></i>
  </div>
</section>

<section class="content-gray">
  <div class="content-gray-container container my-4">
    <div class="shamel-banner">
      <div class="banner-content">
        <div class="text">
          <img
            src="./../../../assets/images/shamel.png"
            alt="shamel"
            class="img"
          />
          <p>Save up to 80% on all medical services</p>
        </div>

        <button class="details-btn">See Details</button>

        <i class="fa-solid fa-chevron-right btn-arrow"></i>
      </div>
    </div>
    <div class="featured-doctor">
      <app-featured-doctors></app-featured-doctors>
    </div>
    <div class="book-now">
      <a routerLink="/home"
        ><img
          src="../../../assets/images/book-now.png"
          alt=""
          class="book-now-image"
      /></a>
    </div>
    <div class="north">
      <app-north></app-north>
    </div>

    <div class="ask-now">
      <app-ask-now></app-ask-now>
    </div>
  </div>
</section>
