<footer class="bg-primary text-white pt-5 pb-4 vezeeta-footer">
  <div class="container">

    <div class="row gy-5">

      <!-- Logo + About -->
      <div class="col-6 col-md-3">
        <a class="navbar-brand d-flex align-items-center mb-3" href="#">
          <img src="../../../assets/images/logovezeta.jpg" alt="Logo" class="logo img-fluid">
        </a>

        <ul class="list-unstyled">
          <li><a routerLink="/" class="footer-link">About Us</a></li>
          <li><a routerLink="/" class="footer-link">Our Team</a></li>
          <li><a routerLink="/" class="footer-link">Careers</a></li>
          <li><a routerLink="/" class="footer-link">Press</a></li>
        </ul>
      </div>

      <!-- Search By -->
      <div class="col-6 col-md-2">
        <h5 class="fw-bold mb-3">Search By</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="footer-link">Speciality</a></li>
          <li><a routerLink="/" class="footer-link">Area</a></li>
          <li><a routerLink="/" class="footer-link">Insurance</a></li>
          <li><a routerLink="/" class="footer-link">Hospital</a></li>
          <li><a routerLink="/" class="footer-link">Center</a></li>
        </ul>
      </div>

      <!-- Doctor -->
      <div class="col-6 col-md-2">
        <h5 class="fw-bold mb-3">Are You A Doctor?</h5>
        <a routerLink="/" class="footer-link d-block">Join Vezeeta Doctors</a>
      </div>

      <!-- Help -->
      <div class="col-6 col-md-2">
        <h5 class="fw-bold mb-3">Need Help?</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="footer-link">Medical Library</a></li>
          <li><a routerLink="/" class="footer-link">Contact Us</a></li>
          <li><a routerLink="/" class="footer-link">Terms Of Use</a></li>
          <li><a routerLink="/" class="footer-link">Privacy Policy</a></li>
          <li><a routerLink="/" class="footer-link">Doctors Privacy Policy</a></li>
        </ul>
      </div>

      <!-- Apps + Social -->
      <div class="col-12 col-md-3 text-md-end text-center">
        <img src="../../../assets/images/google.png" alt="Google Play" class="store-btn mb-3">
        <br>
        <img src="../../../assets/images/appstore.png" alt="App Store" class="store-btn mb-4">

        <div class="social-box mt-2">
          <a href="#" class="social-icon me-3"><i class="bi bi-facebook"></i></a>
          <a href="#" class="social-icon me-3"><i class="bi bi-instagram"></i></a>
          <a href="#" class="social-icon"><i class="bi bi-twitter"></i></a>
        </div>
      </div>

    </div>
  </div>
</footer>
