.featured-doctors {
  background-color: white;
  padding: 16px 20px;
  border-radius: 8px;
  height: 595px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 16px;
}

.header h2 {
  color: rgb(102, 102, 102);
  font-size: 20px;
  margin: 16.6px 0px;
  font-weight: bold;
}

.header .show-more {
  color: rgb(0, 112, 205);
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

.tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  overflow-x: auto;
}

.tabs button {
  background-color: #f1f4f6;
  color: #484848;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  text-wrap: nowrap;
  font-size: 13.3333px !important;
  font-weight: 500;
  border: 1px solid rgb(241, 244, 246);
}

.tabs button.active {
  background: rgb(229, 241, 255);
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

/* --------- doctor card ---------- */
.featured-doctors .swiper {
  transition: transform 400ms ease-in-out;
  overflow: unset;
  transform: translate3d(-150px , 0px, 0px);
}
.doctor-card {
  min-height: 204px;
  min-width: 128px;
  max-width: 148px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 5px;
  box-sizing: border-box;
  gap: 8px !important;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  margin-bottom: 3px;
  margin-right: 0px;
}

.image-wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 120px;
  object-fit: fill;
}

.image-wrapper .rating {
  position: absolute;
  top: 8px;
  left: 8px;
  background: rgb(0, 115, 205);
  color: #ffffff;
  padding: 0px 3px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  min-width: 40px;
}

.image-wrapper .rating i {
  color: #f5a623;
  font-size: 11px;
}

.doctor-card h6 {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  margin: 0px;
  color: rgb(72, 72, 72);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.doctor-card .specialty {
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
  color: rgb(102, 102, 102);
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.doctor-card .location {
  font-size: 14px;
  font-weight: 400;
  color: rgb(102, 102, 102);
  display: flex;
  align-items: center;
  overflow: hidden;
  min-width: 0;
}

.doctor-card .location i {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  color: var(--mainColor);
  margin-right: 4px;
  margin-bottom: 4px;
}

.location-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}

/* --------- two-row marquee swipers ---------- */

.doctors-list {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  list-style: none;

  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch;
}

.pair-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.two-rows {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 6px;
}



.doctors-list::-webkit-scrollbar {
  display: none;
}
.tabs::-webkit-scrollbar {
  display: none;
}
/* responsive  */
@media (max-width: 768px) {
  .featured-doctors {
    height: auto;
  }
}
