.booking-header {
  background: #fff;
  padding: 0px 10px 10px 10px;
  border-radius: 22px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 6px 18px 0px !important;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 0;
}

.tab {
  padding: 15px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.tab i {
  font-size: 30px;
  padding-right: 5px !important;
}

.tab h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: start;
}

.tab p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

/* Active Tab styling */
.tab.active {
  color: var(--mainColor);
}
.tab.active p {
  color: var(--mainColor);
}

.blue-line {
  height: 3px;
  width: 50%;
  background: var(--mainColor);
  margin-top: 0;
  transition: 0.3s ease;
  transform: translateX(0%);
}

.blue-line.right {
  transform: translateX(100%);
}
.specialty-wrap {
  position: relative; 
}
.specialty-dropdown {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: fit-content;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
  z-index: 9999;
}
.spinner-ios {
  height: 35px;
  width: 35px;
  display: inline-block;
  vertical-align: middle;
  animation: spin 0.9s linear infinite;
  font-size: 30px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1017px) {
  .tab h4 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .specialty-dropdown {
    display: none;
  }
}


/* tele /////////////////////////////// */
.search-container {
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  width: 60%;
  margin: 0 auto;
}

.search-container .label {
  font-size: 12px;
  color: #777;
  margin-bottom: 2px;
}

.search-container .icon-blue {
  color: var(--mainColor) !important;
  font-size: 20px;
}

.search-container .value {
  font-size: 15px;
  color: var(--mainColor) !important;
  font-weight: 500;
}

.bi-search {
  direction: ltr;
  padding-right: 10px;
}
.search-container .search-btn {
  background: rgb(239, 15, 15);
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 0px 8px 8px 0px;
  font-size: 18px;
}

.search-container .search-btn:hover {
  background: rgb(209, 12, 12);
}

/* Responsive */
@media (max-width: 768px) {
  .row > div {
    border-right: none !important;
    border-bottom: 1px solid #eee;
  }

  .search-btn {
    border-radius: 0 0 12px 12px;
  }
}

@media screen and (max-width: 1017px) {
  .search-container .search-btn {
    font-size: 18px;
  }
  .search-container .value {
    font-size: 12px;
  }
  .search-container .icon-blue {
    font-size: 15px;
  }
}
