.booking-header {
  background: #fff;
  padding:0px 10px 10px 10px ; 
  border-radius: 22px;
  width: 100%;
  /* border: 1px solid rgb(224, 224, 224); */
  /* box-shadow: rgba(0, 0, 0, 0.29) 0px 6px 18px 0px; */
}

/* Tabs container */
.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  text-align: center;
  gap: 0;
}

/* Each tab */
.tab {
  padding: 15px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.tab i {
  font-size: 30px;
  padding-right: 5px !important;
  
}

.tab h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  text-align: start;
}

.tab p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

/* Active Tab styling */
.tab.active {
  color: var(--mainColor);
}
.tab.active p {
  color: var(--mainColor);
}


.blue-line {
  height: 3px;
  width: 50%;             
  background: var(--mainColor);
  margin-top: 0;
  transition: 0.3s ease;
  transform: translateX(0%);
}

.blue-line.right {
  transform: translateX(100%);
}

@media screen and (max-width : 1017px) {
  .tab h4{
    font-size: 18px;
  }
  
  
}