<!-- featured-entities.component.html -->
<div class="featured-entities">
  <div class="header">
    <h2>Featured Entities</h2>
    <a class="show-more">Show More</a>
  </div>

  <swiper-container
    #swiperEl
    class="entities-swiper"
    pagination="true"
    pagination-clickable="true"
  >
    <swiper-slide *ngFor="let entity of entities">
      <div class="entity-card">
        <div class="image-wrapper">
          <img [src]="entity.image" alt="entity" />
        </div>

        <div class="content">
          <div class="entity-header">
            <img
              *ngIf="entity.logo"
              class="logo"
              [src]="entity.logo"
              alt="logo"
            />

            <div class="header-text">
              <h6>{{ entity.name }}</h6>

              <p class="specialties">
                <i class="bi bi-heart-pulse"></i>{{ entity.specialtiesCount }} Specialities
              </p>

              <div class="location">
                <i class="bi bi-geo-alt"></i><span>{{ entity.location }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
