/* featured-entities.component.css */
.featured-entities {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 16px;
}

.header h2 {
  font-size: 20px;
  font-weight: 700;
  color: #666;
  margin: 16.6px 0px;
}

.header .show-more {
  font-size: 12px;
  font-weight: 700;
  color: var(--mainColor);
  cursor: pointer;
  text-decoration: none;
}

.entities-swiper {
  width: 100%;
  padding-bottom: 28px;
}

.entity-card {
  max-width: 261px;
  min-width: 231px;
  flex-shrink: 0;
  padding: 6px;
  border-radius: 12px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 1px solid rgb(227, 230, 234);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-right: 7px;
}

.image-wrapper img {
  width: 219px;
  height: 120px;
  border-radius: 12px;
  overflow: hidden;
  margin: 0px auto;
}

.content {
  padding: 8px 0px 0px;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
  align-items: center;
}

.entity-header {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(227, 230, 234);
  overflow: hidden;
}

.header-text {
  margin: 0px;
  color: rgb(72, 72, 72);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 135px;
}

.header-text h6 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  color: #484848;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.specialties {
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(102, 102, 102);
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.specialties i {
  color: var(--mainColor);
  font-size: 14px;
  vertical-align: middle;
}

p{
  margin: 4px 0px;
}
.location {
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(102, 102, 102);
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.location i {
  color: var(--mainColor);
  font-size: 14px;
  vertical-align: middle;
  
}

swiper-container::part(pagination) {
  bottom: 0px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 6px;
}

swiper-container::part(bullet) {
  width: 18px;
  height: 18px;
  background: #ddd;
  opacity: 1;
  border-radius: 50%;
}

swiper-container::part(bullet-active) {
  background: #0070cd;
  width: 18px;
  height: 18px;
}

@media (max-width: 768px) {
  .entity-card {
    width: 220px;
  }
}
