<div class="row g-3">
  <div class="col-6">
    <div class="svc-card bg-white shadow-sm">
      <div class="row g-0 svc-inner">
        <div class="col-auto svc-media">
          <img
            class="svc-img"
            src="../../../assets/images/call-doctor.png"
            alt="Teleconsultation"
          />
        </div>

        <div class="col">
          <div class="p-4 h-100 d-flex flex-column">
            <h4 class="svc-title mb-2">Teleconsultation</h4>
            <div class="svc-text mb-3">
              Schedule a voice or video call with a specialized doctor.
            </div>

            <a class="svc-link" href="#">
              Book a Call <i class="bi bi-caret-right-fill red-arrow"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="svc-card bg-white shadow-sm">
      <div class="row g-0 svc-inner">
        <div class="col-auto svc-media">
          <img
            class="svc-img"
            src="../../../assets/images/visit-doctor.png"
            alt="Home Visit"
          />
        </div>

        <div class="col">
          <div class="p-4 h-100 d-flex flex-column">
            <h4 class="svc-title mb-2">Home Visit</h4>
            <div class="svc-text mb-3">
              Choose the specialty, and the doctor will visit you at home.
            </div>

            <a class="svc-link" href="#">
              Book a Visit <i class="bi bi-caret-right-fill red-arrow"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
