.svc-card {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  background: #fff;
  height: 100%;
}

.svc-media {
  width: 170px;
  flex: 0 0 170px;
}

.svc-img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  display: block;
}

.svc-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(102, 102, 102);
}

.svc-text {
  font-size: 16px;
  line-height: 24px;
  color: rgb(111, 112, 114);
}

.svc-link {
  color: var(--mainColor);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: auto;
}

.svc-link:hover {
  text-decoration: underline;
}

i {
  margin: 5px;
  color: rgb(239, 15, 15);
  font-family: icomoon !important;
  text-decoration: none;
}

@media (max-width: 767.98px) {
  .svc-inner {
    flex-direction: column;
  }

  .svc-media {
    width: 100%;
    flex: 0 0 auto;
  }

  .svc-img {
   
    height: 100%;
    object-position: center 20% !important;
  }

  .p-4 {
    padding: 14px !important;
  }

  .svc-title {
    font-size: 18px;
    line-height: 26px;
  }

  .svc-text {
    font-size: 13px;
    line-height: 20px;
  }

  .svc-link {
    font-size: 13px;
  }
}

@media (max-width: 420px) {
  .svc-img {
   /* width: 100%; */
    height: 100%;
    object-position: center 15% !important;
  }

  .p-4 {
    padding: 12px !important;
  }

  .svc-title {
    font-size: 16px;
    line-height: 22px;
  }

  .svc-text {
    font-size: 12px;
    line-height: 18px;
  }

  .svc-link {
    font-size: 12px;
  }
}
