.svc-card {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 170px;
}

.svc-img {
  padding-top: 10px;
  width: 170px;
  height: 170px;
  object-fit: cover;
  display: block;
}

.svc-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: rgb(102, 102, 102);
}

.svc-text {
  font-size: 16px;
  line-height: 24px;
  color: rgb(111, 112, 114);
}

.svc-link {
  color: var(--mainColor);
  font-weight: 700;
  font-size: 16px;
          margin-bottom: 8px;

}

.svc-link:hover {
  text-decoration: underline;
}

i {
  margin: 5px;
  color: rgb(239, 15, 15);
  font-family: icomoon !important;
  text-decoration: none;
}

/* Mobile */
@media (max-width: 768px) {
  .svc-img {
    width: 120px;
    height: 120px;
  }
}
