<div class="bg-white c-container shadow-sm p-3 p-md-4">
  <div class="row align-items-center g-3">
    <!-- Left block -->
    <div class="col-12 col-md-7 col-lg-8">
      <div class="d-flex align-items-center gap-3">
        <img
          src="../../../assets/images/north-girl.png"
          alt="avatar"
          class="rounded-circle avatar"
        />

        <div>
          <img
            src="../../../assets/images/north-logo.png"
            alt="North"
            class="logo"
          />
          <div class="text-muted small font">
            North, your way to practice peace.
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-5 col-lg-4">
      <a class="btn promo-btn w-100" href="#">
        Explore North
      </a>
    </div>
  </div>
</div>
