.c-container {
  font-size: 16px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin: 25px 0px 0px 0px;
}
.promo-btn {
  background: rgb(230, 241, 255);
  color: var(--mainColor);
  border: 0;
  margin: 0px 34px 0px 0px;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  /* width: 300px; */
  height: auto;
  border-radius: 8px;
  
}


.font {
  margin: 4px 0px 8px;
  font-weight: 400;
  color: rgb(102, 102, 102);
  font-size: 16px;
}

.rounded-circle {
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.logo {
  width:  50px !;
  height: 25px;
}
