<div class="search-container shadow-sm">
  <div class="row g-0">
    <!-- Specialty -->
    <div class="col-md border-end px-2 py-1 d-flex align-items-center gap-3">
      <!-- <i class="bi bi-stethoscope icon-blue"></i> -->

      <div>
        <label class="label">Select a specialty</label>
        <div class="value">
          <i class="fa-solid fa-stethoscope icon-blue"></i> Choose specialty
        </div>
      </div>
      <i class="bi bi-chevron-down ms-auto text-muted"></i>
    </div>

    <!-- City -->
    <div class="col-md border-end px-2 py-1 d-flex align-items-center gap-3">
      <div>
        <label class="label">In this city</label>
        <div class="value">
          <i class="bi bi-geo-alt icon-blue"></i> Choose city
        </div>
      </div>
      <i class="bi bi-chevron-down ms-auto text-muted"></i>
    </div>

    <!-- Area -->
    <div class="col-md border-end px-2 py-1 d-flex align-items-center gap-3">
      <div>
        <label class="label">In this area</label>
        <div class="value text-blue"><i class="bi bi-geo-alt icon-blue"></i> Choose area</div>
      </div>
      <i class="bi bi-chevron-down ms-auto text-muted"></i>
    </div>

    <!-- Name Search -->
    <div class="col-md px-2 py-1 d-flex align-items-center gap-3 border-end">
      <div class="flex-grow-1">
        <label class="label">Or search by name</label>

        <div class="d-flex align-items-center gap-2">
          <i class="bi bi-person-bounding-box icon-blue"></i>
          <input class="name-input" placeholder="Doctor name or hospital" />
        </div>
      </div>
    </div>

    <!-- Search Button -->
    <div class="col-md-2">
      <button class="search-btn w-100 h-100">
        <i class="bi bi-search"></i>Search
      </button>
    </div>
  </div>
</div>
