.search-container {
  background: #ffffff;
  border-radius: 12px;
  
  border: 1px solid #e5e5e5;

  width: 100%;
}

.search-container .label {
  font-size: 12px;
  color: #777;
  margin-bottom: 2px;
}

.search-container .value {
  font-size: 15px;
   color: var(--mainColor) !important;
  font-weight: 500;
}
.name-input::placeholder{
    color: var(--mainColor) !important;

}
.search-container .icon-blue {
  color: var(--mainColor) !important;
  font-size: 20px;

}

.search-container .name-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  color: var(--mainColor);
  background: transparent;
}

.bi-search{
  direction: ltr;
  padding-right: 10px;
}
.search-container .search-btn {
  background: #e60000;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 0px 8px 8px 0px   ;
  font-size: 18px;
}

.search-container .search-btn:hover {
  background: #c20000;
}

/* Responsive */
@media (max-width: 768px) {
  .row > div {
    border-right: none !important;
    border-bottom: 1px solid #eee;
  }

  .search-btn {
    border-radius: 0 0 12px 12px;
  }
}

@media screen and (max-width : 1017px) {
  .search-container .search-btn{
    font-size: 18px;
  }
  .search-container .value{
    font-size: 12px;
  }
  .search-container .icon-blue{
    font-size: 15px;
  }
  
  
}
