<div class="search-container shadow-sm">
  <div class="row g-0">
    <!-- Specialty -->
    <div
      class="col-md border-end px-3 py-3 d-flex align-items-center  specialty-wrap"
      (click)="toggleDropdown($event)"
    >
      <div>
        <label class="label">Select a specialty</label>
        <div class="value">
          <i class="fa-solid fa-stethoscope icon-blue"></i>
          {{ selectedSpecialty || "Choose specialty" }}
        </div>
      </div>

      @if(activeTab === 'open-specialty'){
      <i class="bi bi-chevron-up ms-auto text-muted"></i>
      <div class="specialty-dropdown">
        <app-dropdown
          [pages]="pages"
          leftTitle="Most popular"
          rightTitle="Other cities"
          (itemSelected)="onSpecialtySelected($event)"
        ></app-dropdown>
      </div>

      }@else {
      <i class="bi bi-chevron-down ms-auto text-muted"></i>
      }
    </div>

    <!-- <app-dropdown></app-dropdown> -->

    <!-- City -->
    <div
      class="col-md border-end px-2 py-1 d-flex align-items-center gap-3 specialty-wrap"
      (click)="toggleDropdown2($event)"
    >
      <div>
        <label class="label">In this city</label>
        <div class="value">
          <i class="bi bi-geo-alt icon-blue"></i>
          {{ selectedCity || "Choose city" }}
        </div>
      </div>
      @if(activeTab === 'open-city'){
      <i class="bi bi-chevron-up ms-auto text-muted"></i>
      <div class="specialty-dropdown">
        <app-dropdown
          [pages]="cityPages"
          leftTitle="Most popular"
          rightTitle="Other cities"
          (itemSelected)="onCitySelected($event)"
        ></app-dropdown>
      </div>
      }@else {
      <i class="bi bi-chevron-down ms-auto text-muted"></i>
      }
    </div>

    <!-- Area -->
    <div
      class="col-md border-end px-2 py-1 d-flex align-items-center gap-3 specialty-wrap"
      (click)="toggleDropdown3($event)"
    >
      <div>
        <label class="label">In this area</label>
        <div class="value text-blue">
          <i class="bi bi-geo-alt icon-blue"></i> {{ selectedArea }}
        </div>
      </div>

      @if(activeTab === 'open-area'){
      <i class="bi bi-chevron-up ms-auto text-muted"></i>
      <div class="specialty-dropdown">
        <div class="all-area" (click)="selectArea('All Areas', $event)">
          All Areas
        </div>
      </div>

      }@else {
      <i class="bi bi-chevron-down ms-auto text-muted"></i>
      }
    </div>

    <!-- Name Search -->
    <div class="col-md px-2 py-1 d-flex align-items-center gap-3 border-end">
      <div class="flex-grow-1">
        <label class="label">Or search by name</label>

        <div class="d-flex align-items-center gap-2">
          <i class="bi bi-person-bounding-box icon-blue"></i>
          <input class="name-input" placeholder="Doctor name or hospital"  [(ngModel)]="searchName"/>
        </div>
      </div>
    </div>

    <!-- Search Button -->
    <div class="col-md-2">
    <button
      class="search-btn w-100 h-100"
      type="button"
      [disabled]="isLoading"
      (click)="onSearch()"
    >
      @if(!isLoading){
        <i class="bi bi-search"></i>
        <span class="ms-1">Search</span>
      } @else {
        <svg class="spinner-ios" viewBox="0 0 50 50" aria-hidden="true">
          <g>
            <rect x="23" y="2" width="4" height="15" rx="8" fill="#fff" opacity="1"></rect>
            <rect x="23" y="2" width="4" height="15" rx="8" fill="#fff" opacity=".9"  transform="rotate(30 25 25)"></rect>
            <rect x="23" y="2" width="4" height="15" rx="8" fill="#fff" opacity=".8"  transform="rotate(60 25 25)"></rect>
            <rect x="23" y="2" width="4" height="15" rx="8" fill="#fff" opacity=".7"  transform="rotate(90 25 25)"></rect>
            <rect x="23" y="2" width="4" height="15" rx="8" fill="#fff" opacity=".6"  transform="rotate(120 25 25)"></rect>
            <rect x="23" y="2" width="4" height="15" rx="8" fill="#fff" opacity=".5"  transform="rotate(150 25 25)"></rect>
            <rect x="23" y="2" width="4" height="15" rx="8" fill="#fff" opacity=".4"  transform="rotate(180 25 25)"></rect>
            <rect x="23" y="2" width="4" height="15" rx="8" fill="#fff" opacity=".3"  transform="rotate(210 25 25)"></rect>
            <rect x="23" y="2" width="4" height="15" rx="8" fill="#fff" opacity=".25" transform="rotate(240 25 25)"></rect>
            <rect x="23" y="2" width="4" height="15" rx="8" fill="#fff" opacity=".2"  transform="rotate(270 25 25)"></rect>
            <rect x="23" y="2" width="4" height="15" rx="8" fill="#fff" opacity=".15" transform="rotate(300 25 25)"></rect>
            <rect x="23" y="2" width="4" height="15" rx="8" fill="#fff" opacity=".1"  transform="rotate(330 25 25)"></rect>
          </g>
        </svg>
      }
    </button>
  </div>

  </div>
</div>
