/* Navbar base */
.navbar {
  background-color: var(--mainColor);
  padding: 0;                 
  height: 60px;
  
}
a{
  text-align: center;
    color: white;
    cursor: pointer;
    font-size: 13px;
    vertical-align: middle;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    margin: 0.5px 2px 0px;
    font-weight: 400 !important;
}

.dropdown-menu a{
  color: black;
}
/* Responsive spacing */
@media screen and  (max-width: 1246px) and (min-width : 736px) {
  .custom-Container{
    padding-left: 25px !important ;
    padding-right: 25px !important;
  }
}

@media screen and  (max-width: 735px) {
  .custom-Container{
    padding-left: 13px !important ;
    padding-right: 13px !important;
  }
}

/* Toggler */
.navbar-toggler {
  border: none;
  padding: 2px 6px;
}

.navbar-toggler-icon {
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='4' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Text size */
.small-nav a {
  font-size: 13px;
}

/* Sign Up button */
.btn-signUp {
  border: 1px solid #fff;
  padding: 0 8px;
  line-height: 24px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.btn-signUp:hover {
  background: #fff;
  color: rgb(0, 112, 205);
}
