<div class="">
  <nav class="navbar navbar-expand-lg small-nav ">
  <div class="custom-Container d-flex justify-content-between w-100 ">

    <!-- Logo -->
    <a class="navbar-brand d-flex " href="#">
      <img
        src="assets/images/logovezeta.jpg"
        alt="Logo"
        style="width : 172px"
      />
    </a>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="sideMenu.toggleMenu()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="d-none d-lg-flex align-items-center justify-content-between gap-3">

      <a class="btn-signUp">Sign Up</a>
      <a class="text-white text-decoration-none">Login</a>

      <span class="text-white-50">|</span>

      <a class="text-white text-decoration-none ">
        Vezeeta For Doctors
      </a>

      <span class="text-white-50">|</span>

      <a class="text-white text-decoration-none">
        Contact Us
      </a>

      <span class="text-white-50">|</span>

      <!-- Country -->
      <div class="dropdown">
        <a
          class="dropdown-toggle text-white text-decoration-none fw-semibold d-flex align-items-center gap-2"
          data-bs-toggle="dropdown"
        >
          <img [src]="selectedFlag" class="flag-icon" alt="" />
          {{ selectedCountry }}
        </a>

       
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a
              class="dropdown-item d-flex align-items-center gap-2"
              href="#"
              (click)="changeCountry('Egypt', '../../../assets/images/e.png')"
            >
              <img alt="" src="assets/images/e.png" class="flag-icon" />
              Egypt
            </a>
          </li>

          <li>
            <a
              class="dropdown-item d-flex align-items-center gap-2"
              href="#"
              (click)="
                changeCountry('Saudi Arabia', '../../../assets/images/s.png')
              "
            >
              <img src="../../../assets/images/s.png" class="flag-icon" alt="" />
              Saudi Arabia
            </a>
          </li>

          <li>
            <a
              class="dropdown-item d-flex align-items-center gap-2"
              href="#"
              (click)="changeCountry('Jordan', '../../../assets/images/j.png')"
            >
              <img src="assets/images/j.png" class="flag-icon" alt="" />
              Jordan
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
</div>


<app-side-menu #sideMenu></app-side-menu>
