 @import 'swiper/css';
@import 'swiper/css/navigation';

:root{
  --mainColor:rgb(0, 112, 205) ;
}


.custom-Container{
  padding-left: 160px;
  padding-right: 160px;
  
}


/* Responsive spacing */
@media screen and  (max-width: 1246px) and (min-width : 736px){
  .custom-Container{
    padding-left: 20px !important ;
    padding-right: 20px !important;
  }
}
@media screen and (max-width : 735px) {
  .custom-Container{
    padding-left: 5px !important ;
    padding-right: 5px !important;
  }
}

html, body {
  height: 100%;
  font-size: 12px;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
