/* app-root, app-root > * {
  width: 100%;
  max-width: 1320px; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
  padding-right: 15px;
} */
 @import 'swiper/css';
@import 'swiper/css/navigation';

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1;
}
