 @import 'swiper/css';
@import 'swiper/css/navigation';
:root{
  --mainColor:rgb(0, 112, 205) ;
}


.custom-Container{
  padding-left: 160px;
  padding-right: 160px;
  
}


/* Responsive spacing */
@media screen and  (max-width: 1246px) {
  .custom-Container{
    padding-left: 20px !important ;
    padding-right: 20px !important;
  }
}

html, body {
  height: 100%;
  font-size: 12px;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1;
}
