
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@import '@fontsource/source-sans-pro/400.css';
@import '@fontsource/source-sans-pro/600.css';

:root {
  --mainColor:rgb(0, 112, 205) ;
  --bs-body-font-family: 'Source Sans Pro', sans-serif;
}




body {
  font-family: 'Source Sans Pro', sans-serif !important ;
  font-weight: 700 !important ;
}



.custom-Container{
  padding-left: 175px ;
  padding-right: 175px;
  
}


/* Responsive spacing */
@media screen and  (max-width: 1246px) and (min-width : 736px){
  .custom-Container{
    padding-left: 15px !important ;
    padding-right: 15px !important;
  }
}
@media screen and (max-width : 735px) {
  .custom-Container{
    padding-left: 5px !important ;
    padding-right: 5px !important;
  }
}

html, body {
  height: 100%;
  font-size: 12px;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
