/* =========================
   Base container
========================= */
.c-container {
  font-size: 16px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin: 25px 0 0 0;
  padding: 35px 40px !important;

  /* desktop bg settings */
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}

.card-light {
  background-color: #fff;
}

.card-blue {
  position: relative;
  
}

.title-light {
  font-size: 22px;
  font-weight: 700;
  color: #666666;
}

.text-light {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #666666 !important;
}

.title-blue {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}

.text-blue {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.92);
}

.ask-btn,
.btn-white {
  background: rgb(230, 241, 255);
  color: var(--mainColor);
  border: 0;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  width: 20% !important;
}

.btn-white {
  background: #ffffff;
  color: var(--mainColor);
}

/* icon */
.icon-wrap {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.icon-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

/* =========================
   Mobile (<= 768px)
========================= */
@media screen and (max-width: 768px) {
  .c-container {
    padding: 18px 16px !important;

    background: #fff !important;
  }

  .card-blue {
    background: #fff !important;
  }

  .btn-white,
  .ask-btn {
    width: 100% !important;
  }

  .title-blue,
  .text-blue {
    color: #666666 !important;
  }

  .btn-white {
    background: rgb(230, 241, 255);
    color: var(--mainColor);
  }
}
