.c-container{
font-size: 16px;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin: 25px 0px 0px 0px;
  padding: 35px 40px !important;
}
h4{
    font-size: 22px;
    font-weight: 700;
    color: #666666;
}
.text{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
}
.ask-btn{
 
background: rgb(230, 241, 255);
  color: var(--mainColor);
  border: 0;
  /* margin: 0px 34px 0px 0px; */
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 400;
  width: 20%;
  height: auto;
  border-radius: 8px;
}

@media  screen and (max-width : 768px) {
    .ask-btn{
        width: 100%;
    }
}

