.promo-section {
  width: 100%;
}

.promo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.promo-title {
  margin: 0;
  font-size: 32px !important;
  font-weight: 700 !important;
  color: #666666;
  padding: 0;
}

.promo-all {
  color: var(--mainColor);
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
}

.promo-all:hover {
  text-decoration: underline;
}



.promo-wrap {
  position: relative;
  /* overflow: hidden; */
  padding: 0 0px;
}

.promo-track {
  display: flex;
  gap: 16px;
  
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: hidden !important;
}

.promo-track::-webkit-scrollbar {
  display: none;
}

.promo-card {
  flex: 0 0 calc((100% - (16px * 3)) / 4);
  margin: 0;
  box-sizing: border-box;
  scroll-snap-align: start;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  text-decoration: none;
  color: inherit;
}

.img-box {
  position: relative;
  height: 170px;
  background: #f1f1f1;
}

i {
  color: rgb(239, 15, 15);
  font-family: icomoon !important;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.badge {
  position: absolute;
  top: 10px;
  border-width: 0px 0px 0px 5px;
  left: 10px;
  padding: 2px 5px 2px 3px;
  z-index: 2;
  height: fit-content;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: rgb(255, 255, 255);
  background-color: rgb(224, 32, 32);
  border-color: rgb(174, 13, 13);
  border-style: solid;
  border-radius: 0;
}

.body {
  padding: 13px 16px 11px 14px;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
  color: rgb(111, 112, 114);
  margin-bottom: 6px;
}

.prices {
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin-bottom: 4px;
}

.old {
  color: rgb(111, 112, 114);
  text-decoration: line-through;
  font-size: 16px;
}

.new {
  color: var(--mainColor);
  font-weight: 700;
  font-size: 16px;
}

.sub2 {
  font-size: 14px;
  color: rgb(111, 112, 114);
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 6px;
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 2;
}

.nav-btn {
  width: fit-content;
  height: fit-content;
  /* padding: 10px; */
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02);
  cursor: pointer;
  padding: 10px;
  /* padding-right: 8px; */
}

.chevron {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #9e9e9e;
  border-bottom: 2px solid #9e9e9e;
  z-index: 5;
}

.chevron-left {
  transform: rotate(45deg);
  
}

.chevron-right {
  transform: rotate(-135deg);
}

.nav-btn.left {
  left: -40px;
  padding-right: 7px;
}
.nav-btn.right {
  right: -40px;
  padding-left: 7px;
}

@media (max-width: 1200px) {
  .promo-card {
    flex-basis: calc((100% - (16px * 2)) / 3);
  }
}

@media (max-width: 768px) {
  .promo-title {
    font-size: 22px;
  }
  .promo-wrap {
    padding: 0;
  }
  .nav-btn {
    display: none;
  }
  .promo-card {
    flex-basis: 240px;
  }
}
